.filter-bar {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.page-title {
  color: purple;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
  
input[type=search] {
  box-shadow: none;
}

.cover {
    width: 80px;
}

.book-author {
    font-size: 1.3rem;
}

.book-title {
    font-size: 1.3rem;
}

input[type="checkbox"] {
    width:1.3rem;
    height:1.3rem;
}
.checkbox-text {
    font-size:1.3rem;
    margin-left: 5px;
    margin-right:15px;
}

body {
    padding: 20px
}

.mobile-menu {
    margin-top: 1.5rem;
    font-size:1.3rem;
    color: black;
    list-style-type: none;
    text-align: right;
}