.page-title {
  color: white !important;
  margin-top: 4.5rem;
  margin-bottom: 0.5rem;
}

input[type=search] {
  box-shadow: none;
}

.cover {
  width: 80px;
}

.book-author {
  font-size: 1.3rem;
}

.book-title {
  font-size: 1.3rem;
}

input[type="checkbox"] {
  width:1.3rem;
  height:1.3rem;
}

.checkbox-text {
  margin-left: 5px;
  margin-right:15px;
  color: white !important;
}

body{
	font:17px/1.3 'Open Sans', sans-serif;
	text-align:left;
  padding: 0px;
  background-color: black;
}

#results {
  padding: 1.5rem;
}

.title {
  line-height: 32px;
  font-weight: bold;
}

.text {
  margin-bottom: 5px;
}

.text-center {
  color: white !important;
}

.image-container {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  margin-right: 8px;
}
.content-container {
  display: inline-block;
  margin-left: 8px;
  max-width: 85%;
}
.jumbotron {
    background-color:transparent !important;
}
